node_modules/
.github/
.vscode/
data/
dist/
.husky/
docker/{cluster-operator,prometheus}/**

.travis.yml
**.md
!README.md
docker-compose.yml
renovate.json
*.lock
*.log
application.yml
config.yml
