# Folders
node_modules/
build/

# Jest
coverage/

# Files
application.yml
config.yml
*.lock
*.log
.env

# Redis dumps, I run redis-server in the working directory :3
*.rdb
launch.json

# Ignore user-config
.vscode/
.idea/
