# Folders
node_modules/
dist/
data/

# Jest
coverage/

# Files
application.yml
*.lock
*.log

# Redis dumps, I run redis-server in the working directory :3
*.rdb
launch.json

# Ignore user-config
.vscode/
