# Folders
node_modules/
old_locales/
.husky/_/
build/
!.actions/build/
docker/cluster-operator/config.json

# Jest
coverage/

# Files
application.yml
config.yml
*.log
.env

# Redis dumps, I run redis-server in the working directory :3
*.rdb
launch.json

# Ignore user-config
.vscode/
.idea/

# v1 export
.nino
old/
